

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


@font-face {
  font-family: Lato-Regular;
  src: url('Lato/Lato-Regular.ttf'); 
}

@font-face {
  font-family: Lato-Bold;
  src: url('Lato/Lato-Bold.ttf'); 
}





/* ------------------------------------ */
a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/* ------------------------------------ */
input {
  display: block;
	outline: none;
	border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

/* ------------------------------------ */
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Scroll bar ]*/
.js-pscroll {
  position: relative;
  overflow: hidden;
}

.table100 .ps__rail-y {
  width: 9px;
  background-color: transparent;
  opacity: 1 !important;
  right: 5px;
}

.table100 .ps__rail-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ebebeb;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}

.table100 .ps__rail-y .ps__thumb-y {
  width: 100%;
  right: 0;
  background-color: transparent;
  opacity: 1 !important;
}

.table100 .ps__rail-y .ps__thumb-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #cccccc;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}


/*//////////////////////////////////////////////////////////////////
[ Table ]*/



.container-table100 {
  width: 100%;
  min-height: 87vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1690px;

}

.wrap-table200 {
  width: 100%;

}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.table100 {
  background-color:#343435;
}

table {
  width: 100%;
}

th, td {
  font-weight: unset;

}

.column1 {
  width: 7.54%;
  padding-left: 8px;
  font-weight: bold;
}

.column2 {
  width: 7.54%;
  padding-left: 8px;
  font-weight: bold;
}

.column3 {
  width: 10%;
  padding-left: 20px;
  
}
.column4 {
  width: 10%;
  padding-left: 20px;
}

.column5 {
  width: 13%;
}

.column7 {
  text-align: center;
  align-items: center;
}

.column8 {
  width: 22%;
  padding-left: 90px;
  font-weight: bold;
  }
  
.column9 {
  width: 22%;
  padding-left: 140px;
  font-weight: bold;
}

.column10 {
  width: 15%;
  padding-left: 70px;
  font-weight: bold;
}






.table100-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.table100-body td {
  padding-top: 16px;
  padding-bottom: 16px;
}

/*Responsivo header de la tabla*/
.table100 {
  position: relative;
  padding-top: 60px;
}

.table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.table100-body {
  max-height: 85px;
  overflow: auto;
}


/*==================================================================
Diseño tabla */

.table100.ver2 .table100-head {
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
}

.table100.ver2 th {
  font-family: Lato-Bold;
  font-size: 18px;
  color: #fd6d90;
  line-height: 1.4;
  background-color: transparent;
  text-decoration: none;
}

.table100.ver2 td {
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  color: #ffffff;
  line-height: 1.4;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 11.2%;
  text-decoration: none;
}

.table100.ver2 .table100-body tr {
  border-bottom: 1px solid #f2f2f2;
}

/*---------------------------------------------*/

.table100.ver2 {
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table100.ver2 .ps__rail-y {
  right: 5px;
}

.table100.ver2 .ps__rail-y::before {
  background-color: #ebebeb;
}

.table100.ver2 .ps__rail-y .ps__thumb-y::before {
  background-color: #cccccc;
}

/*Diseno Boton Usuario*/
.txt6 {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
  height: 50px;
  color: #343435;
  font-weight: bold;
  background: #fd6d90;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.txt6:hover {
  background: #343435;
  color: #fd6d90;
}

/*Diseno Boton Usuario*/
.txt7 {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #343435;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 2px;
  width: 250px;
  height: 50px;
  font-weight: bold;
  
  background: #fd6d90;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 81.9%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.txt7:hover {
  font-family: 'Roboto', sans-serif;
  background: #343435;
  color: #fd6d90;
  text-decoration: none;
  font-weight: bold;
}





.success{
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  height: 120px;
  align-items: center;
  border-radius: 3px;
  justify-content: center;
  color: #ffffff;
  background: #3bbe37;
}

.success{
  
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 1.5;
  color: #fff;

  border-radius: 5px;
  width: 110px;
  height: 25px;

  
  background: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;


  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.danger{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 1.5;
  color: #fff;

  border-radius: 5px;
  width: 110px;
  height: 25px;

  
  background: #b61212;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;


  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}





  /*Tarjeta responsiva color Verde*/

  div.card {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 10px;
  }
  
  
  div.cardHeader {
      background-color: #57b846;
      padding: 40px;
      font-size: 40px;
  }
  
  div.cardContainer {
      padding: 10px;
      border-radius: 10px;
  }
  
  /*Tarjeta responsiva color azul*/
  div.card2 {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 10px;
  }
  
  
  div.cardHeader2 {
      background-color: #4782C0;
      padding: 40px;
      font-size: 40px;
  }
  
  div.cardContainer2 {
     
      border-radius: 10px;
  }


    /*Tarjeta responsiva color Verde*/

    div.card3 {
      width: 200%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      text-align: center;
      border-radius: 10px;
    }
    
    
    div.cardHeader3 {
        background-color: #57b846;
        padding: 40px;
        font-size: 40px;
    }
    
    div.cardContainer3 {
        padding: 10px;
        border-radius: 10px;
    }
    
    .box {
      margin-top: 0px;
      text-align: center;
      align-items: center;
      color: #686666;
      
    }